<!DOCTYPE html>
<html>
<head>
	<title>Me Studio</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link href="https://fonts.googleapis.com/css?family=Audiowide|Bangers|Monoton|Press+Start+2P|Zilla+Slab+Highlight|Black+Ops+One|Bungee+Inline|Share|Cinzel+Decorative|Megrim|Raleway+Dots|Bungee+Shade|Barrio|Bungee+Outline|Faster+One|Khmer|Quicksand|Economica|Syncopate|Lekton:400i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/mySemantic.css">
	<link rel="stylesheet" type="text/css" href="assets/css/projectCSS.css">
	<link rel="stylesheet" type="text/css" href="assets/css/indexCSS.css">
	<link rel="stylesheet" type="text/css" href="assets/css/glow.css">		
	
	
	
</head>
<body id="projectBG">

	<!-- ****** PROJECT HEADER ****** -->

	<div class="ui container topSpace" id="topPage">
		<div class="ui center aligned header" id="defaultFont">
			<h1 class="logo">
				<span class="word1">THE</span>
	  			<span class="word2">PROJECT</span>
			</h1>
		</div>
	</div>
	
	<!-- ****** BREADCRUMB ****** -->

	<div class="ui center aligned grid">
			
		<div class="sixteen wide column" id="fixedBread">
			<div class="ui large breadcrumb" id="myBreadCrumb">
			  	<a href="/" class="section">Home</a>
			  	<span class="divider">/</span>
			  	<a href="/projects" class="active section">Projects - 7</a>
			  	<span class="divider">/</span>
			  	<a class="section">About</a>
			</div>
			<span class="sexy_line"></span>
		</div>
			
	</div>
		
	<!-- ****** PROJECTS ****** -->

	<div class="ui container" id="leftFloatedContainer">
		
		<div class="ui grid container">
			
			
			<!-- ****** PROJECT 1 ****** -->			
			<div class="row " >
				
				<div class="column">
					<div class="ui move right reveal">
					  	<div class="visible content" id="visibleContentBorder">
						  	<a class="ui white right corner label">
	        					<i class="angle double right icon"></i>
	      					</a>
						    <img src="/assets/picture/Phone-Project.jpg" class="ui medium image">
					  	</div>
					  
					  	<div class="hidden content" id="myHiddenContent">
							<div class="content" id="myContent">
						      	<a class="header"><i class=" inverted big yelp icon"></i>Project-Title</a>
						      	<div class="description topSpace">
						       		<span>"1st line of project description"<br>"2nd line of project description"<br>"3rd line of project description"</span>
						      	</div>
						      	<button class="ui inverted basic button" id="project1">Read More</button>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- ****** PROJECT 2 ****** -->
			<div class="row ">
				
				<div class="column">
					<div class="ui move right reveal">
					  	<div class="visible content" id="visibleContentBorder">
						  	<a class="ui white right corner label">
	        					<i class="angle double right icon"></i>
	      					</a>
						    <img src="/assets/picture/Phone-Project.jpg" class="ui medium image">
					  	</div>
					  
					  	<div class="hidden content" id="myHiddenContent">
							<div class="content" id="myContent">
						      	<a class="header"><i class=" inverted big yelp icon"></i>Project-Title</a>
						      	<div class="description topSpace">
						       		<span>"1st line of project description"<br>"2nd line of project description"<br>"3rd line of project description"</span>
						      	</div>
						      	<button class="ui inverted basic button" id="project2">Read More</button>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- ****** PROJECT 3 ****** -->

			<div class="row ">
				
				<div class="column">
					<div class="ui move right reveal">
					  	<div class="visible content" id="visibleContentBorder">
						  	<a class="ui white right corner label">
	        					<i class="angle double right icon"></i>
	      					</a>
						    <img src="/assets/picture/Phone-Project.jpg" class="ui medium image">
					  	</div>
					  
					  	<div class="hidden content" id="myHiddenContent">
							<div class="content" id="myContent">
						      	<a class="header"><i class=" inverted big yelp icon"></i>Project-Title</a>
						      	<div class="description topSpace">
						       		<span>"1st line of project description"<br>"2nd line of project description"<br>"3rd line of project description"</span>
						      	</div>
						      	<button class="ui inverted basic button" id="project3">Read More</button>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- ****** PROJECT 4 ****** -->

			<div class="row ">
				
				<div class="column">
					<div class="ui move right reveal">
					  	<div class="visible content" id="visibleContentBorder">
						  	<a class="ui white right corner label">
	        					<i class="angle double right icon"></i>
	      					</a>
						    <img src="/assets/picture/Phone-Project.jpg" class="ui medium image">
					  	</div>
					  
					  	<div class="hidden content" id="myHiddenContent">
							<div class="content" id="myContent">
						      	<a class="header"><i class=" inverted big yelp icon"></i>Project-Title</a>
						      	<div class="description topSpace">
						       		<span>"1st line of project description"<br>"2nd line of project description"<br>"3rd line of project description"</span>
						      	</div>
						      	<button class="ui inverted basic button" id="project4">Read More</button>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- ****** UPCOMING HEADER ****** -->

			<div class="row">
				
				<div class="column" style="margin-right: 48%;">
					<div class="ui left aligned header" id="defaultFont" style="font-size: 65px;">
						<h1 class="logo bot-left">
							<span class="word1">UP</span>
		  					<span class="word2">COMING</span>
						</h1>
					</div>
				</div>

			</div>



			<!-- ****** PROJECT 5 ****** -->

			<div class="row ">
				
				<div class="column">
					<div class="ui move right reveal">
					  	<div class="visible content" id="visibleContentBorder">
						  	<a class="ui white right corner label">
	        					<i class="angle double right icon"></i>
	      					</a>
						    <img src="/assets/picture/Phone-Project.jpg" class="ui medium image">
					  	</div>
					  
					  	<div class="hidden content" id="myHiddenContent">
							<div class="content" id="myContent">
						      	<a class="header"><i class=" inverted big yelp icon"></i>Project-Title</a>
						      	<div class="description topSpace">
						       		<span>"1st line of project description"<br>"2nd line of project description"<br>"3rd line of project description"</span>
						      	</div>
						      	<button class="ui inverted basic button" id="project5">Read More</button>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- ****** PROJECT 6 ****** -->

			<div class="row ">
				
				<div class="column">
					<div class="ui move right reveal">
					  	<div class="visible content" id="visibleContentBorder">
						  	<a class="ui white right corner label">
	        					<i class="angle double right icon"></i>
	      					</a>
						    <img src="/assets/picture/Phone-Project.jpg" class="ui medium image">
					  	</div>
					  
					  	<div class="hidden content" id="myHiddenContent">
							<div class="content" id="myContent">
						      	<a class="header"><i class=" inverted big yelp icon"></i>Project-Title</a>
						      	<div class="description topSpace">
						       		<span>"1st line of project description"<br>"2nd line of project description"<br>"3rd line of project description"</span>
						      	</div>
						      	<button class="ui inverted basic button" id="project6">Read More</button>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- ****** PROJECT 7 ****** -->

			<div class="row " >
				
				<div class="column">
					<div class="ui move right reveal">
					  	<div class="visible content" id="visibleContentBorder">
						  	<a class="ui white right corner label">
	        					<i class="angle double right icon"></i>
	      					</a>
						    <img src="/assets/picture/Phone-Project.jpg" class="ui medium image">
					  	</div>
					  
					  	<div class="hidden content" id="myHiddenContent">
							<div class="content" id="myContent">
						      	<a class="header"><i class=" inverted big yelp icon"></i>Project-Title</a>
						      	<div class="description topSpace">
						       		<span>"1st line of project description"<br>"2nd line of project description"<br>"3rd line of project description"</span>
						      	</div>
						      	<button class="ui inverted basic button" id="project7">Read More</button>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- ****** JUMP TO TOP ****** -->

			<div class="center aligned eight wide column ">
				<a href="#topPage"><i class="black huge angle double up icon glow"></i></a> 
			</div>

			

		</div>
	</div>

	<!-- ****** PROJECTS ****** -->


	<!-- ****** READ MORE TEMPLATE ****** -->
	<div class="ui modal">
	  	<i class="close icon"></i>
	  	<div class="header" id="readMoreTitle">
	    	Yelp-Camp
	  	</div>
	  	<div class="image content">
	    	<div class="ui big image">
	      		<img src="/assets/picture/kelly-sikkema-376792.jpg" id="readMoreImage">
	    	</div>
	    	<div class="description" id="readMoreDes">
	      		<div class="ui header">We've auto-chosen a profile image for you.</div>
	     		<p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
	      		<p>Is it okay to use this photo?</p>
	    	</div>
	  	</div>
	  	<div class="actions">
	   		<a href="" class="ui basic black button" id="readMoreLink">
	      		Visit Webpage
	    	</a>
	    </div>
	</div>

	<!-- ****** MOVING BACKGROUND ****** -->

	<canvas id="dots" width="300" height="300" ></canvas>
	
	






	<script src='http://requirejs.org/docs/release/2.1.15/minified/require.js'></script>
	<script src='https://rawgit.com/ironwallaby/delaunay/master/delaunay.js'></script>
	<script
 		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous">
  	</script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
	
	<script type="text/javascript" src="assets/js/geometryBG.js"></script>
	<script type="text/javascript" src="assets/js/indexJS.js"></script>
</body>
</html>