html{
	height: 100%;
	width: 100%;
}

body {
  background-image: url(/assets/picture/Webp.net-gifmaker.gif);
  /*background-size: cover;*/
 /*background-repeat: no-repeat;
  */
}

.topSpace{
	margin: 2em auto;
}

.fakeBorder{
	border: 0.5px solid white;
}

#defaultFont{
	font-family: 'Audiowide', cursive;
	color: white;
}

.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:white;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 400, from(#000), to(#fff));
}

