/* ******************** HOMEPAGE ******************** */

/* ***** BREADCRUMB ***** */
#myBreadCrumb{
	padding-top: 16px;
}

#myBreadCrumb a, div{
	font-family: 'Audiowide', cursive;
	color: white;
	margin: 0 auto;
}

#myBreadCrumb a:hover{
	text-decoration: overline;
}

#myBreadCrumb .divider{
	color: rgb(255, 255, 255);
}

#myBreadCrumb .active{
	border-bottom: 2px solid white;
}

/* ***** DROP MESSAGE (CONTACT) ***** */
#myDropMsgBtn{
	background-color: transparent;
	color: #fff;
}
#myDropMsgBtn:hover{
	background-color: #000;
	color: #fff;
}
#myDropMsgBtn:focus{
	background-color: #000;
	color: #fff;
}

#myDropMsgBtn .active{
	background-color: #000;
	color: #fff;
}

#myDropMsgBtn .active:hover{
	background-color: #000;
	color: #fff;
}

#mySucMsg {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	background-color: #fff;
	color: #000;
	border: 1px solid black;

}

#mySucMsg .header{
	color: #000;
	text-decoration: underline; 
	padding-bottom: 10px;
}

#mySucMsg span {
	text-indent: 6mm;
}


/* ***** DROP MENU (SOCIAL) ***** */
#myDropMenu .menu{
	background-color: transparent;
	box-shadow: none;
	border: none;
	margin-top: 20px;

}

#myDropMenu .menu>.item{
	padding: 16px 0!important;
}

#myDropMenu .menu>.item>.icon{
	margin-right: 0;
}

/* ******************** HOMEPAGE ******************** */



/* ******************** PROJECT PAGE ******************** */

/* ***** LEFT FLOATED CONTAINER ***** */

#leftFloatedContainer{
	margin-left: 80px!important; 
	margin-top: 7em;
}

/* ***** HIDDEN CONTENT (SHORT DESC - PROJECT REVEAL) ***** */

#myHiddenContent{
	width: 300px!important;
	height: 198px;
}	

#myHiddenContent a, div{
	font-family: 'Quicksand', sans-serif;
}

#myContent{
	color: white; 
	padding-top: 10px; 
	padding-left: 10px; 
	text-align: center;
}

#myContent .header {
	font-size: 17px;
}

#myContent div {
	font-size: 15px !important;
}

#visibleContentBorder{
	border: 1px solid white;
}

/* ***** FIXED BREADCRUMB ***** */
#fixedBread{
	margin-top: 40px;
	margin-bottom: 10px;
	padding-top: 10px; 
	padding-bottom: 10px; 

	transition:
          box-shadow 0.5s ease,
          padding 0.9s ease
        ;
}

#fixedBread #myBreadCrumb{
	padding-top: 0; 
	padding-bottom: 10px;
}

#fixedBread #myBreadCrumb .active{
	border-bottom: none;
}


#fixedBread.fixed {
        background-color: #fff;
        /*border: 1px solid black;*/
        box-shadow: 1px 3px 5px rgba(225, 225, 225, 10);
        
        z-index: 10;
        margin-top: 0;
      }

#fixedBread.fixed .divider{
	color: black;
}

/* ***** TO MAKE SHORT DESC IMAGE ALL SAME IN SIZE ***** */
.ui.medium.image {
	width: 300px;
	height: 200px;
	object-fit: cover;
}

.ui.big.image img {
	width: 350px;
	height: 260px;
	object-fit: cover;
}

/* ******************** PROJECT PAGE ******************** */


